<!-- {% if site.data.social-media%}
<div style="text-align: center;">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first%}
        {% if sm[key].id%}
            {% if key == 'stackoverflow' or key == 'goodreads'%}
                {% assign size='35px'%}
            {% else %}
                {% assign size='40px'%}
            {% endif %}
            <a href="{{sm[key].href}}{{sm[key].id}}" title="sm[key].title"><i class="{{sm[key].fa-icon}}" style="font-size: {{size}}; color:#B87333; padding-right: 30px;"></i></a>
        {% endif %}
    {% endfor %}
</div>
{% endif %} -->

<a href="https://linkedin.com/in/andira-gita-nawangsari-37a125118" target="_blank">
<img src=https://img.shields.io/badge/linkedin-%231E77B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white alt=linkedin style="margin-bottom: 5px;" />
</a>
<a href="https://github.com/AndiraGita" target="_blank">
<img src=https://img.shields.io/badge/github-%2324292e.svg?&style=for-the-badge&logo=github&logoColor=white alt=github style="margin-bottom: 5px;" />
</a>
<a href="https://stackoverflow.com/users/6332850/andira-gita" target="_blank">
<img src=https://img.shields.io/badge/stackoverflow-%23F28032.svg?&style=for-the-badge&logo=stackoverflow&logoColor=white alt=stackoverflow style="margin-bottom: 5px;" />
</a>
<a href="https://www.kaggle.com/andiragita" target="_blank">
<img src=https://img.shields.io/badge/kaggle-%2344BAE8.svg?&style=for-the-badge&logo=kaggle&logoColor=white alt=kaggle style="margin-bottom: 5px;" />
</a>  
<a href='https://www.goodreads.com/andiragita' target='blank'>
<img src=https://img.shields.io/badge/Goodreads-372213?style=for-the-badge&logo=goodreads&logoColor=white alt=goodreads style="margin-bottom: 5px;"/>
</a>
<a href="https://instagram.com/andiragita" target="_blank">
<img src=https://img.shields.io/badge/instagram-%23000000.svg?&style=for-the-badge&logo=instagram&logoColor=white alt=instagram style="margin-bottom: 5px;" />
</a>
<a href="https://twitter.com/dkselfkrlsk" target="_blank">
<img src=https://img.shields.io/badge/twitter-%2300acee.svg?&style=for-the-badge&logo=twitter&logoColor=white alt=twitter style="margin-bottom: 5px;" />
</a>
<a href='andiragita.github.io' target='_blank'>
    <img src=https://img.shields.io/badge/website-000000?style=for-the-badge&logo=About.me&logoColor=white alt=website style="margin-bottom: 5px;"/>
</a>